
-let searchBarColor = primary

//-[產品名稱] - [產品類別] | [品牌] 25～30 個中文字
//-品牌|主要產品類別 - 次要產品類別 - 產品名稱
//-desc 65~80個中文
title=title
meta(name='description' content=desc)
meta(name='google-site-verification' content='J4mZyoYmKR7E5TQ2HqGdSGCUcMtX15zItsooyW-1oew')
meta(name='msvalidate.01' content='DA0BAB441F72A95B3BC215366C7E72BE')
meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(property='og:title' content=title)
meta(property='og:description', content=desc)
//- A short description of min. 2 max. 4 sentences
meta(property='og:image' content=domain+root+'img/og.jpg')
meta(property='og:image:type' content='image/jpeg')
meta(property='og:image:width' content='600')
meta(property='og:image:height' content='315')
//- The URL of the image, at least 600x315 pixels, preferable 1200x630 pixels
meta(property='og:url' content=domain+root+file+'.html')
//- meta(property='og:locale' content='zh-Hant-TW')
meta(property='og:type' content='website')
//- meta(property='og:site_name' content=title)
//- meta(name='twitter:title', content=title)
//-  A brief but comprehensive title of max. 70 characters
//- meta(name='twitter:description', content=desc)

//- A brief description of the tweet max. 200 characters. Do not re-use the title as the description
meta(name='twitter:image' content=domain+root+'img/og.jpg')
//- Add a unique not a generic image representing the content at least 280x150 pixels
//- meta(name='twitter:card' content='')
//- summery_large_image

//- meta(name='author' content='YuHaoSyu')
//- meta(name='company' content='思脈數位股份有限公司')
//- meta(name='copyright' content=''')
//- meta(name='robots' content='index, nofollow')

//- meta(name='twitter:site' content='')
//- meta(name='Distribution' content='Taiwan')
//- meta(name='revisit-after' content='1 days')
//- meta(http-equiv='expires' content='0')
meta(name='theme-color' content=searchBarColor)
meta(name='msapplication-navbutton-color' content=searchBarColor)
meta(name='apple-mobile-web-app-status-bar-style' content=searchBarColor)
link(rel='canonical' href=domain+root+file+'.html')
link(rel='icon', href='./img/ico.ico', type='image/ico')
link(rel="stylesheet", href="./css/style.css")